body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("C:/Users/senas/Downloads/FTZ/bg1.jpg");
}
.container{
padding: 4% 14%;

}
.actions {
  font-size: 0.8em;
  float:right;
  position:absolute;
  top:0;
  right:15em;
  padding:6px;
  color: #fff;
  background-color: #29416D;
 
}

.actions a {
  color: #fff;
  text-decoration: none;
}

.header { 
  background-color: #10223A;
  position: relative;
  display: flex;
  height:8vh;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  
}

header img{
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.nav a{
  color: rgb(43, 163, 163);
  text-decoration:none;
  padding: 12px;
}

.trans{
  padding: 0px 25px;
  color: #fff;
}
.trans h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sections {
  display: flex;
  background-color: #10223A;
  flex-direction: row;
  justify-content: left;
  padding: 0.1em;
}

.section {
  padding: 0.5em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: calc(33.33% - 20px);
}
.section ul{
  list-style-type: none;
  padding:0;


}
.section a{
  color:#8EA2BA ;
  
}

.sect{
  color:#fff;
  padding: 3em;
  padding-top: 0%;
  padding-left: 0%;
  font-size: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0px;
  width: calc(55.33%);
}
.sect a{
  color:#6A718D;
}
.sect h1{
  position:relative;
  top:0;
}
.over{
  border:#9badb5;
  padding-left: 25px;
  padding-bottom:10px;
  border-style: solid none;
}
.button{
  border-radius: 1px;
  background-color: #175A77;
  font-size: larger;
  padding: 2px;
  
  
}
.button a{
  text-decoration: none;
  color: white;
}

footer {
  background-color: #29416D;
  color: #fff;
  margin-top:8px;
  padding: 0.3em;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 10px;
}

footer a{
  color: white;
  position: relative;
  
}



@media (max-width: 768px) {
  .sections {
    flex-direction: column;
  }

  .section {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  header nav ul {
    flex-direction: column;
  }

  header nav li {
    margin-bottom: 10px;
  }
}
