.timer-container {
  text-align: center;
  padding: 1rem;
  background-color: #FFFFFF;
  position: relative; 
  top: 25vh; 
  left: 0;
  right: 0;
  font-family: sans-serif;
}
.topright {
  position: absolute;
  top: 0;
  right: 0;
  transform:translate 0.3em; 
}


.display {
  display: inline-block;
  padding-bottom: 1.25em;
}

.time-unit {
  display: inline-block;
  padding: 0 10px;
 
}

.time-unit span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  
}

.time {
  font-size: 3em;
  font-weight: initial;
  border-style:outset;
  border-radius: 1%;
  border-color: #ffffff;
  padding: 40px;
  
}
.controls {
  padding-top: 1.25em;
}
.but1{
  text-align: center;
  font-size: larger;
  margin: 1.25em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #F34571;
  
}
body{
  background-color:#008BFF;

}